body {
    background-color: hsl(30, 38%, 92%);
}

.padre {
    width: 100%;
    height: 100%;
}

.container {
    border-radius: 2%;
    position: relative;
    width: 600px;
    height: 450px;
    background-color: white;
    margin: auto;
    top: 100px;
  
}


h1{
    position: absolute;
    left: 55.33%;
    right: 5.33%;
    top: calc(50% - 96px/2 - 110px);
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #1C232B;
}

h2 {
    position: absolute;
    left: 55.25%;
    top: 7%;        
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: ß15px;
    letter-spacing: 5px;
    color: #6C7289;  
}

p{
position: absolute;
height: 92px;
left: 55.25%;
right: 5.25%;
top: calc(50% - 92px/2 + 8px);
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 23px;
color: #6C7289;
}

.precioDescuento {
position: absolute;
height: 32px;
left: 55.33%;
right: 23.5%;
top: calc(50% - 32px/2 + 99px);
font-family: 'Fraunces';
font-style: normal;
font-weight: 700;
font-size: 32px;
color: #3D8168;
}

.precioReal{
position: absolute;
height: 23px;
left: 79.67%;
right: 12.33%;
top: calc(50% - 23px/2 + 99.5px);

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 23px;
text-decoration-line: line-through;
color: #6C7289;
}

.button {
    position: absolute;
    width: 236px;
    height: 48px;
    top: 370px;
    left: 332px;
    background-color: #3D8168; 
    border-radius: 8px;
}

.carrito {
    position: absolute;
    left: 27%;
    top: 34% ;
}

.buttonCarrito {
    position: absolute;
    left: 36%;
    top: 1%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: white;
}





@media screen and (max-width : 450px) {
    .fotoPerfume{background-image: url(/images/image-product-mobile.jpg);}
    body {
        background-color:#F2EAE2;
    }
    .fotoPerfume{
        width: 100%%;
        height: 240px; 
        background-size: 343px 240px ;  
    } 

    .container {
        position: relative;
        width: 90%;
        height: 611px;
        margin: 0 auto;
        top: 25px;
      
    }

    h1{
        position: relative;
        left: 7%;
        top: 260px;
    }

    h2 {
        position: relative;
        left: 7%;
        top: 260px;
    }

    p{
        position: relative;
        left: 7%;
        top: 260px;
        width: 80%;
    }
    .precioDescuento{
       position: relative;
        left: 7%;
        top: 260px;
    } 
    .precioReal{
        position: relative;
         left: 50%;

     } 
    .button{
        position: absolute;
        left: 15%;
        top: 550px;
    }

}



@media screen and (min-width : 451px) {
    .fotoPerfume{background-image: url(/images/image-product-desktop.jpg);}
    .fotoPerfume{
        width: 300px;
        height: 450px; 
        background-size: 300px 450px ;  
    }  
}